<odoo>


    <!-- Root menu -->
    <menuitem id="menu_sally_flowers_root" name="Sally Flowers" sequence="10" />

    <!-- Client action -->
    <record id="action_sally_flowers" model="ir.actions.client">
        <field name="name">Flower List</field>
        <field name="tag">sally_flowers.FlowerList</field>
    </record>

    <!-- Submenu linked to the client action -->
    <menuitem id="menu_sally_flowers_list"
        name="Flower List"
        parent="menu_sally_flowers_root"
        action="action_sally_flowers"
        sequence="1" />
</odoo>